<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo-pestaña %}{% endblock %} | DolorFarma</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% load static %}
        <link rel="stylesheet" href="{% static 'main/styles_login.css' %}">
        <link rel="shortcut icon" href="{% static 'images/dolorfarma_favicon.png' %}">
    </head>
    <body>
        <header>
            <div class="logo-principal">
                <a href="{% url 'index' %}"><h3>DolorFarma</h3></a>
            </div>
        </header>
            
            
        </header>

        <div class = header2>
            <div class="titulo">
                {% block titulo %}{% endblock %}
            </div>
            
        </div>
        
        {% block contenido %}
        {% endblock %}
    </body>
</html>