{% extends 'main/base.html' %}

{% load custom_filters %}

{% block titulo-pestaña %}Confirmación{% endblock %}

{% block titulo %}<h2>Resultado de la Consulta</h2>{% endblock %}

{% block contenido %}
<div class="container">
    {% if titulo %}
    <div class="title-container">
        <h2>{{ titulo }}</h2>
        
        <!-- Botón para abrir el modal en todas las pantallas -->
        <button class="qr-button" id="openQrModal">QR</button>
    </div>
    {% endif %}
    
    <div class="acordeon">
        {{ contenido | safe }} 
    </div>

    <!-- Modal para mostrar el código QR en grande -->
    <div id="qrModal" class="modal">
        <div class="modal-content">
            <img class="qr-image-large" src="data:image/png;base64,{{ qr_code_image|b64encode }}" alt="Código QR">
        </div>
    </div>
</div>

<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: row; /* Cambiar a fila para alinear el botón a la derecha del título */
    }

    .title-container h2 {
        margin: 10px 0;
        text-align: center;
        flex-grow: 1; /* Permite que el título ocupe el espacio disponible */
    }

    /* Estilos para el botón de QR en todas las pantallas */
    .qr-button {
        background-color: #449846;
        color: white;
        padding: 8px 8px;
        position: absolute; /* Posiciona el botón en la parte superior derecha */
        right: 10%; /* Ajusta la distancia desde el borde derecho */
        top: 15px; /* Ajusta la distancia desde la parte superior */
        margin-left: 15px; /* Espaciado a la izquierda del botón */
        border: 2px solid transparent; 
        border-radius: 80px; 
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease; 
        font-size: 14px; 
        font-weight: 600; 
        text-align: center; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .qr-button:hover {
        background-color: #50b854; 
        transform: scale(1.05); 
        border: 2px solid #ffffff; 
    }

    .qr-button:focus {
        outline: none; 
        box-shadow: 0 0 0 3px rgba(0, 180, 82, 0.5); 
    }

    /* Modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    }

    .modal-content {
        position: relative;
        margin: 5% auto; /* Ajustar el margen superior para que aparezca más arriba */
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    .qr-image-large {
        width: 100%;
        height: auto;
    }

    /* Estilos del acordeón */
    .acordeon {
        margin-top: 0px;
    }

    .acordeon .box {
        position: relative;
        margin: 10px 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .acordeon .label-acordeon {
        background-color: transparent;
        border: none;
        width: 100%;
        text-align: left;
        font-size: 18px;
        color: black;
        padding: 15px 10px;
        padding-right: 50px;
        cursor: pointer;
        border-bottom: 1px solid black;
        font-weight: bold;
        position: relative;
    }

    .acordeon .label-acordeon::after {
        content: '\25BC';
        font-size: 16px;
        position: absolute;
        right: 27px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
    }

    .acordeon .box.active .label-acordeon::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .acordeon .content-acordeon {
        background-color: white;
        max-height: 0;
        text-align: justify;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .acordeon .content-acordeon p,
    .acordeon .content-acordeon li {
        margin: 10px 0;
    }

    .acordeon .box.active .content-acordeon {
        max-height: 100000px;
    }

    /* Contenedor de videos */
    .video-container-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .video-section {
        text-align: center;
        flex: 1;
        max-width: 400px;
    }

    .video-section p {
        font-weight: bold;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    .video-container {
        width: 100%;
        max-width: 300px;
        height: 169px;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        align-items: center;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    /* Media Queries para mejorar la adaptación */
    @media (max-width: 768px) {
        .title-container {
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
            align-items: center; /* Centra los elementos */
            margin: 0;
        }

        .qr-button {
            margin-top: -15px; /* Espacio arriba del botón cuando está en la columna */
            position: relative; /* Quitar posicionamiento absoluto en pantallas pequeñas */
            right: 0; /* Restablecer el alineamiento a la izquierda */
        }

        .modal-content {
            margin-top: 10%;
        }
    }

    @media (max-width: 937px) {
        .video-section p {
            height: 40px;
        }
    }

    @media (max-width: 500px) {

        .container {
            width: 100%;
        }

        .video-container-wrapper {
            flex-direction: column;
            align-items: center;
        }

        .video-container {
            height: 100px;
            width: 180px;
            justify-content: center;
        }

        /* Asegurarte de centrar los videos */
        .video-section {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra el contenido dentro de la sección */
            text-align: center;
        }

        .video-section p {
            height: 20px;
        }

        .content-acordeon {
            font-size: 12px;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const boxes = document.querySelectorAll('.acordeon .box');

        boxes.forEach(box => {
            const label = box.querySelector('.label-acordeon');
            const content = box.querySelector('.content-acordeon');

            label.addEventListener('click', () => {
                if (box.classList.contains('active')) {
                    box.classList.remove('active');
                    content.style.maxHeight = null;
                } else {
                    boxes.forEach(b => {
                        b.classList.remove('active');
                        b.querySelector('.content-acordeon').style.maxHeight = null;
                    });
                    box.classList.add('active');
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        });

        // Modal functionality
        const modal = document.getElementById('qrModal');
        const btn = document.getElementById('openQrModal');

        // Cuando se hace clic en el botón, abre el modal
        btn.onclick = function() {
            modal.style.display = 'block';
        };

        // Si se hace clic fuera del contenido del modal, ciérralo
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
    });
</script>
{% endblock %}
